.grid {
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 3rem;
}

.gridImage {
  width: 100%;
  height: 50vh;
  position: relative;
}

.gridContent {
}

.infoBox {
  margin: 2rem 0;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  width: 50%;
}

.infoBox p {
  color: black;
}

.modalButton {
  background-color: #0070f3;
  padding: 1rem 1rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.modalButton:hover {
  background-color: #0053a0;
}

.listItem {
  margin-bottom: 0.4rem;
  color: black;
}

.listItem:hover {
  color: #0070f3;
}

.instructions {
  margin-top: 1rem;
  margin-left: 1.5rem;
  list-style: decimal;
}

.instructionsItem {
  margin-bottom: 0.4rem;
  color: black;
}

.title {
  color: black;
  margin-bottom: 1rem;
}
