.modalContent {
  background: white;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: transform 1s ease-in-out;
  width: 40%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
}

.slideIn {
  transform: translateX(0);
}

.slideOut {
  transform: translateX(100%);
}

.closeButton {
  position: absolute;
  color: black;
  top: 2rem;
  right: 2rem;
  background: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;
}

.closeButton:hover:enabled {
  color: grey;
  background-color: none;
  padding: 2rem;
  margin: -2rem;
}
